#cts-header {
  font-family: 'Open Sans', sans-serif;
}

.question-text {
  font-style: italic;
}

.error-text {
  color: #ee632b;
}

/* Header on app */
.header {
  padding-top: 30px;
}

.result {
  margin-top: -10vw;
  width: 550px;
  border: 2px solid #f5f5f5;
  border-radius: 2px;
  background-color: white;
  /* box-shadow: 2px 2px 9px; */
  font-family: "PT Sans"
}

.login_box {
  border: 2px solid #7a758133;
  padding: 2vw 10vw 3vw 10vw;
  margin-top: -9vw;
  background-color: white;
  background-opacity: 0.7;
  box-shadow: 2px 2px 9px;
}

.jumbotron {
  height: 250px;
  background-image: url('./810/random_grey_variations.png');
}

.progress_number {
  margin-top: -12vw;
  margin-bottom: 2vw;
  font-family: "PT Sans";
  font-size: 30px;
  color: #f5f5f5;
}

.pad-bot {
  padding-bottom: 6px;
}

.back {
  text-transform: uppercase;
  color: #7a7581;
  background: #ffffff;
  border-width: 0px;
}

.question {
  font-family: "PT Sans";
  font-size: 20px;
  margin-bottom: 10px;
}

.question_box {
  border: 2px solid #7a758133;
  padding: 2vw 10vw 3vw 10vw;
  /* margin-top: -10vw; */
  background-color: white;
  background-opacity: 0.7;
  box-shadow: 2px 2px 9px;

 /* Materialize tabs styling */
/*Black color to the text*/
.tabs .tab a{
    color:#ee632b;
    font-size: 10px;
}

/*Text color on hover*/
.tabs .tab a:hover {
    background-color:#eee;
}

/*Background and text color when a tab is active*/
.tabs .tab a.active {
    background-color:#f5f5f5;
    color:#ee632b;
}

/*Color of underline*/
.tabs .indicator {
    background-color:#ee632b;
}

/* button styling  */
.eightten_button {
  background: #ffffff;
  text-transform: uppercase;
  color: #7a7581;
  margin-top: 14px;
  border-width: 2px;
  border-style: solid;
  border-color: #7a7581;
  border-radius: 2px;
  box-shadow: 0px 0px;
}

.eightten_button:hover {
  background: #ffffff;
  text-transform: uppercase;
  color: #ec6432;
  border-width: 2px;
  border-style: solid;
  border-color: #ec6432;
  border-radius: 2px;
  box-shadow: 2px 2px;
}

.eightten_button:focus {
  background: #ffffff;
  text-transform: uppercase;
  color: #7a7581;
  border-width: 2px;
  border-style: solid;
  border-color: #7a7581;
  border-radius: 2px;
  box-shadow: 0px 0px;
}

/* input styling */
Input[type=text] {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=text]:not(.broswer-default) {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=text]:focus:not(.broswer-default){
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
  box-shadow: 0px 1px;
  transition: all .3s
}

Input[type=text]:focus:not(.broswer-default)+label{
  color : #1e73be;
}

/* Password input styling */
Input[type=password] {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=password]:not(.broswer-default) {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=password]:focus:not(.broswer-default){
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
  box-shadow: 0px 1px;
  transition: all .3s
}

Input[type=password]:focus:not(.broswer-default)+label{
  color : #1e73be;
}

/* Email input styling */
Input[type=email] {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=email]:not(.broswer-default) {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=email]:focus:not(.broswer-default){
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
  box-shadow: 0px 1px;
  transition: all .3s
}

Input[type=email]:focus:not(.broswer-default)+label{
  color : #1e73be;
}

/* Telephone input styling */
Input[type=tel] {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=tel]:not(.broswer-default) {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=tel]:focus:not(.broswer-default){
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
  box-shadow: 0px 1px;
  transition: all .3s
}

Input[type=tel]:focus:not(.broswer-default)+label{
  color : #1e73be;
}

/* Number input styling */
Input[type=number] {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=number]:not(.broswer-default) {
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
}

Input[type=number]:focus:not(.broswer-default){
  border-bottom: 2px solid #1e73be;
  border-right: none;
  color : #1e73be;
  box-shadow: 0px 1px;
  transition: all .3s
}

Input[type=number]:focus:not(.broswer-default)+label{
  color : #1e73be;
}
